.App {
  text-align: center;
}

.component {
  padding: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 400px;
}

.controls button {
  margin: 10px;
}

